<div
  class="container"
  *ngIf="product"
  style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  "
>
  <mat-card>
    <img
      mat-card-image
      [src]="product.imageUrl"
      [alt]="product.name"
      width="400"
    />
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ product.description }}</p>
      <p>Category: {{ product.category }}</p>
    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: right">
      <button mat-flat-button color="primary" routerLink="/">
        BACK TO LIST
      </button>
    </mat-card-actions>
  </mat-card>
</div>
