<div class="container" *ngIf="product">
  <mat-card>
    <img mat-card-image [src]="product.imageUrl" [alt]="product.name">
    <mat-card-header>
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{ product.description }}</p>
      <p>Category: {{ product.category }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button routerLink="/">BACK TO LIST</button>
    </mat-card-actions>
  </mat-card>
</div>